services:
  backend:
    build:
      context: ./backend
    container_name: ${BACKEND_CONTAINER_NAME}
    networks:
      - app-net

  nginx:
    build:
      context: ./nginx
    container_name: ${NGINX_CONTAINER_NAME}
    depends_on:
      - backend
    ports:
      - "${NGINX_HOST_PORT}:80"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

